@mixin titulo{
  font: 19px $titulo;
  font-weight: bold;
  letter-spacing: 0.5vh;
  margin:4% 36.3em 4% 10%;
  background-color: $cinza;
  padding:1%;
  text-transform: uppercase;
}

@mixin sub-titulo{
  font: 16px $titulo;
  font-weight: bold;
  letter-spacing: 0.3vh;
  text-transform: uppercase;
  background-color: $cinza;
  padding:1%;
  margin: -17.5% 0 0 7.7%;
  float: left;
  position: absolute;
}

@mixin texto{
  font-family: $titulo;
  font-size: 15px;
  line-height: 21px;
  text-align: left;
}

@mixin textocurso{
  font: 15px $titulo;
  line-height: 21px;
  text-align: left;
  -webkit-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  float: left;
  position: absolute;
}

@mixin linkimage{
  font: 22px $titulo;
  font-weight: bold;
  text-transform: uppercase;
  color: $preto;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  text-align: center;
  top: 0.8em;
  right:0.8em;
  left: 0;
  bottom:0;
  transition: 0.6s;
  background-color: rgba($branco, 0.84);
  line-height: 27px;
  white-space: pre;
}

@mixin linkporte{
  font: 1em $titulo;
  line-height: 22px;
  font-weight: bold;
  text-transform: uppercase;
  color: $preto;
  opacity:0;
  overflow: hidden;
  padding: 6.5em 0 7.6em 0;
  position: absolute;
  text-align: center;
  top: 0;
  right:0;
  left: 0;
  transition: 0.6s;
  background-color: rgba($branco, 0.84);
}

@mixin mais{
  width:1.5%;
  padding: 0;
  position: absolute;
}

@mixin footer{
  font: 13px $titulo;
  text-transform: uppercase;
  color: $branco;
  padding-top: 1.2%;
}

@mixin contactos{
  margin-left: 43%;
}

@mixin info{
  white-space: pre;
  position: absolute;
  margin: 15% 0 0 52%;
  line-height: 23px;
}
